img {
    width: 81px;
    height: auto;
}

header {
    max-width: 1220px;
}

.topbar {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 20px;
    opacity: 1;
}


.brand {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    color: #ffb35f!important;

    font-size: 1.8rem;
    text-decoration: none;
    line-height: .65em;

    &-text {
        font-family: 'NerkoOne', sans-serif !important;
        color: #35273a;
    }

    &-text.home-brand-text {
        color: #ffb35f;
    }
}

.brand-mark {
    display: grid;
    place-items: center;
    width: 23px;
    height: 17px;
    color: #302333;
    background: #ffb35f;
    border-radius: 2px;
    font-size: .68rem;
}

.header-meta {
    display: none;
}

.create-survey-button {
    max-width: max-content;
    border: 0;
    border-radius: 8px;
    padding: 12px 12px;
    color: #221227;
    background-color: #ffcfa1;
    font-size: 1.05rem;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Nokora';
    text-decoration: none;

    &:after {
        content: "\002B";
        opacity: 0;
        position: absolute;
    }

    &:hover::after {
        border-radius: 50%;
        border: 3px solid #221227;
        padding-inline: 4px;
        position: relative;
        font-weight: bold;
        transition: 0.1s ease-in-out;
        opacity: 1;
        margin-left: 0.5em;
        background-color: #ffb770;
    }

    &:active::after {
        content: url("/icon/check-small.svg");
        border: none;
    }
}

.create-survey-button:hover {
    background: #ffb770;
}