.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 205px;
    padding: 18px 0 28px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.hero>div:first-child {
    max-width: 100%;
}

.hero h1 {
    margin: 12px 0 10px;
    color: #ffb35f;
    font-size: 5rem;
    line-height: 1.02;
}

.hero h1 em {
    font-style: normal;
}

.hero p {
    width: 600px;
    margin-bottom: 15px;
    font-size: 1.3rem;
    line-height: 1.4;
}

.eyebrow {
    color: #ffc174;
    font-size: .52rem;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.button {
    border: 0;
    border-radius: 4px;
    padding: 9px 12px;
    color: #221227;
    background: #ffcfa1;
    font: 300 1.25rem 'Arial';
    cursor: pointer;
    transition: background 0.7s ease;
}

.button:hover {
    transition-duration: 0.7s;
    background: #ffb770;
}

.button:hover:after {
    content: "\002B";
    margin-left: 0.5em;
    border-radius: 50%;
    border: 3px solid #221227;
    padding-inline: 4px;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 350ms ease, transform 350ms ease;
}

.button:not(:hover):after {
    opacity: 0;
    transform: translate(-40%, -40%) scale(0.7);
    transition: opacity 350ms ease, transform 350ms ease;
}

.hero-icons {
    position: relative;
    width: 100%;
    min-height: 170px;
    flex: 0 0 145px;
}

.hero-icons img {
    position: absolute;
    display: block;
    object-fit: contain;
}

.icon-mobile {
    bottom: -15px;
    right: -142px;
    width: 100%;
    position: relative;
}

.icon-check {
    right: 42px;
    bottom: -60px;
    width: 92px;
    height: auto;
    z-index: -1;
}

.icon-bubble {
    top: -32px;
    left: -280px;
    width: 132px;
    height: auto;
}

.icon-star {
    bottom: -100px;
    left: -300px;
    width: 92px;
    height: auto;
}

.icon-question {
    top: -154px;
    right: 38px;
    width: 92px;
    height: auto;
    transform: rotate(20deg);
}

.hero-icons:hover {
    transform: scale(1.1);
    z-index: 1000;
}