.page-shell {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 70px;
}

.home-hero {
    display: flex;
    justify-content: center;
}

.status {
    padding: 10px;
    color: #302333;
    background: #ffb35f;
    font-size: .75rem;
}

.status.error {
    color: #fff;
    background: #a54e5d;
}