.page-shell {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 70px;
}

.home-hero {
    display: block;
}

.status {
    padding: 10px;
    color: #302333;
    background: #ffb35f;
    font-size: .75rem;
}

.status.error {
    color: #fff;
    background: #a54e5d;
}

@media (max-width: 600px) {
    .page-shell {
        width: min(100% - 24px, 1040px);
    }

}