body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: #fff4fa;
    background: #302333;
    font-family: NerkoOne;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.survey-page {
    background-color: white;
}

@font-face {
    font-family: 'NerkoOne';
    src: url('/angular-project/font/Nerko_One/NerkoOne-Regular.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nokora';
    src: url('/angular-project/font/Nokora/Nokora-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Mulish';
    src: url('/angular-project/font/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

input,
textarea,
select,
label,
span,
p,
.tab,
legend {
    font-family: 'Nokora' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'NerkoOne', cursive;
    font-weight: 500;
}