body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: #fff4fa;
    background: #302333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body.survey-page {
    background-color: white;
    overflow-y: hidden;
}

@font-face {
    font-family: 'DynaPuff';
    src: url('/font/DynaPuff/static/DynaPuff-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'DynaPuff';
    src: url('/font/DynaPuff/static/DynaPuff-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

button,
input,
textarea,
select,
label,
legend {
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DynaPuff', cursive;
}