.section-title {
    margin: 0 0 10px;
    color: #ffb35f;
    font-size: 4rem;
    text-align: center;
}

.home-section-description {
    color: #fff4fa;
    font-size: 1.25rem;
    text-align: left;
}

.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 36px auto;
    max-width: 1040px;

    &-header {
        width: 100%;
        text-align: left;
    }
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.card {
    min-height: 320px;
    width: 310px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 56px 0 0;
    color: #302333;
    background: #fcf7ff;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #68596d;

}

.card b {
    display: block;
    font-size: 1.72rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.744);
}

.card p {
    background-color: #ffb35f;
    width: max-content;
    padding: 3px 9px 3px 9px;
    border-radius: 0 12px 0 0;
}

.card span {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    font-size: 1rem;
    gap: 16px;
    font-weight: bold;
}

@media (max-width: 700px) {
    .section-title {
        font-size: 1.8rem;
    }

    .cards {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 8px;
    }

    .card {
        min-height: 100px;
        padding: 9px;
        border-radius: 0 24px 0 0;
    }

    .card b {
        font-size: .58rem;
    }

    .card small,
    .card span {
        font-size: .4rem;
    }
}